# API Configuration
VITE_API_URL=https://pr92.mobile-bot.deriv.dev
VITE_EXTERNAL_API_BASE_URL=https://mock.mobile-bot.deriv.dev/v1

# Auth Configuration
VITE_Authorize=your-auth-token
VITE_Login_Id=your-login-id
VITE_Deriv_Url=your-deriv-url
VITE_Auth_Url=your-auth-url

# Champion API Configuration
VITE_CHAMPION_TOKEN=your_champion_token
VITE_ACCOUNT_UUID=your_account_uuid
VITE_CHAMPION_API_URL=https://champion.mobile-bot.deriv.dev
